.studentSnippet {
    cursor: pointer;
    background-color: #0d1117;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #30363d;
    padding: 8px;
    box-shadow: 1px 1px black 0.5px;
}

body {
    color: #c9d1d9;
    background-color: #020408;
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
}

